@import url("https://fonts.googleapis.com/css2?family=Miltonian+Tattoo&display=swap");

.nav-component {
  height: 100px;
  width: 100%;
}
.nav-link-container {
  font-size: 40px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.navlink {
  font-family: "Miltonian Tattoo", cursive;
  margin: 5px;
  padding: 20px;
  align-items: center;
  text-decoration: none;
}

.navlink:hover {
  transform: scale(1.07);
}

.nav-icon {
  height: 40px;
}

a {
  color: black;
}
a:hover {
  color: #c40e11;
}

@media only screen and (max-width: 600px) {
  .navlink {
    padding: 5px;
    font-size: 20px;
    text-decoration: none;
  }

  .nav-component {
    height: 70px;
  }

  .nav-icon {
    width: 25px;
    height: 25px;
  }
}
