@import url("https://fonts.googleapis.com/css2?family=Miltonian+Tattoo&display=swap");

body {
  background-color: rgb(236, 226, 199);
  text-align: center;
}

h1 {
  font-family: "Miltonian Tattoo", cursive;
  font-size: 60px;
}

.location-bottle-gif {
  width: 300px;
  padding-left: 40px;
}

.location-bayview {
  width: 600px;
}

@media only screen and (max-width: 600px) {
  img {
    width: 400px;
  }

  h1 {
    margin: auto;
    font-size: 20px;
  }

  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 15px;
  }

  .location-bayview {
    width: 400px;
    padding: 10px;
  }

  .location-bottle-gif {
    width: 220px;
    padding-left: 30px;
  }
}
