@import url("https://fonts.googleapis.com/css2?family=Miltonian+Tattoo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  background-color: #ece2c7;
  text-align: center;
}

.about-site-text {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-family: "Miltonian Tattoo", cursive;
  font-size: 60px;
}

.location-date-time {
  font-family: "Poppins", sans-serif;
}

h2,
h3 {
  font-family: "Poppins", sans-serif;
}

.hamburger-menu-div {
  display: none;
}

.home-underconstruction {
  padding: 15px;
  font-family: "Poppins", sans-serif;
}

.location-bottle-gif {
  width: 300px;
  padding-left: 40px;
}

.location-bayview {
  width: 600px;
}

@media only screen and (max-width: 600px) {
  img {
    width: 400px;
  }

  .about-site-text {
    padding-left: 15px;
    padding-right: 15px;
  }

  h1 {
    margin: auto;
    font-size: 35px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
  }

  main {
    margin-top: 4.5rem;
  }

  .location-bayview {
    width: 390px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .location-bottle-gif {
    width: 220px;
    padding-left: 30px;
  }

  .nav-bar-div {
    display: none;
  }

  .hamburger-menu-div {
    display: block;
  }
}
